@import "tailwindcss";

:root {
  --bg-main: #f8fafc;
  --bg-header: #ffffff;
  --text-main: #64748b;
  --text-strong: #1e293b;
  --border-color: #e2e8f0;
}

[data-theme='dark'] {
  --bg-main: #0b1120;
  --bg-header: #0b1120;
  --text-main: #94a3b8;
  --text-strong: #f8fafc;
  --border-color: #1e293b;
}

@theme {
  --color-background: var(--bg-main);
  --color-foreground: var(--text-main);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}